# Configurações do Banco de Dados
POSTGRES_USER=formsync_admin
POSTGRES_PASSWORD=senha_super_segura_aqui
POSTGRES_DB=formsync_db
DB_HOST=db
DB_PORT=5432

# Segurança da API (JWT)
SECRET_KEY=chave_secreta_para_tokens_jwt